
.navContainer {
  width: 100%;
  height: 70px;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  z-index: 100;
}
.nav,
.navClose {
  width: 100%;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navWrapper {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  position: relative;
  backdrop-filter: blur(10px);
  --webkit-backdrop-filter: blur(10px);
}
.h1 {
  text-align: center;
  font-size: 1.2rem;
  flex: 1;
}
.ul,
.ulClose {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.4s ease-in-out;
  transform: translateY(120px);
  backdrop-filter: blur(10px);
  --webkit-backdrop-filter: blur(10px);
  z-index: 1;
  position: fixed;

}
.ulClose {
  transform: translateY(-130%);
}
.li,
.liClose {
  margin: 10px;
  padding: 5px;
  font-weight: 500;
  transition: all 0.4s ease;
  border-bottom: 2px solid rgba(227, 221, 221, 0);
}

.li:hover {
  transform: scale(1.1);
  border-bottom: 2px solid var(--tertiary-color);
}
.resumeWrapper {
  border-bottom: 0;
}
.resumeWrapper:hover {
  border-bottom: 0;
}
.resume {
  border: 1px solid var(--tertiary-color);
  border-radius: 5px;
  padding: 10px 40px;
  margin-right: 0;
  background-color: var(--secondary-color);
  color: var(--white);
  font-size: 1rem;
  align-self: center;
}
.menuWrapper,
.menuWrapperClose {
  width: 25px;
  height: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  margin-right: 30px;
  position: relative;
}
.line,
.line1,
.line2,
.line3 {
  width: inherit;
  border: 1px solid var(--primary-color);
  transition: transform 0.4s ease;
}
.line:nth-child(2) {
  width: 20px;
  align-self: flex-end;
  border-color: var(--tertiary-color);
}
.line2 {
  display: none;
}
.line1 {
  position: absolute;
  top: 9px;
  transform: rotate(45deg);
  border-color: var(--primary-color);
}
.line3 {
  position: absolute;
  top: 9px;
  transform: rotate(-45deg);
  border-color: var(--tertiary-color);
}
.lineColour {
  border-color: var(--text);
}


@media screen and (min-width: 320px) {
  .h1 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 640px) {
  .navContainer {
    height: 100px;
    backdrop-filter: blur(10px);
    --webkit-backdrop-filter: blur(10px);
  }
  .navWrapper{
    width: auto;
    height: auto;
    backdrop-filter: blur(0);
    --webkit-backdrop-filter: blur(0);
  }
  .ul,
  .ulClose {
    width: 70%;
    position: static;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    transform: none;
    z-index: 100;
    backdrop-filter: blur(0);
    --webkit-backdrop-filter: blur(0);
}
  .li {
    margin: 0;
    padding: 5px;
    font-weight: 500;
  }
  .menuWrapper {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .navContainer {
    height: 80px;
    padding: 0 40px;
  }
  .nav,
  .navClose {
    flex-direction: row;
    justify-content: space-between;
  }
  .ul,
  .ulClose {
    width: 60%;
    max-width: 500px;
  }
}
@media screen and (min-width: 900px) {
  .navContainer {
    padding: 0 50px;
  }
  .li {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 1100px) {
  .navContainer {
    padding: 0 100px;
  }
}


/* Animations */
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideInRight {
  from {
    transform: translateX(100%);
}
  to {
    transform: translateX(0);
}
}
@keyframes slideInDown {
  from {
    transform: translateY(-2px);
}
  to {
    transform: translateY(0);
}
}
@keyframes slideInUp {
  from {
    transform: translateY(0);
}
  to {
    transform: translateY(-200%);
}
}